[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
echoai-pet-measurements = {editable = true, path = "."}
pandas = "*"
numpy = "*"
opencv-python = "*"
lz4 = "*"

[dev-packages]
jupyter = "*"
matplotlib = "*"

[requires]
python_version = "3.7"
